{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
    <main>
        <div class="homepage-title">
            <h1>Laure CHAPERT</h1>
            <p>Développeuse web full-stack</p>
        </div>
        <div role="icon">
            <img class="arrow" src="{{ asset('icons/Arrow.svg') }}">
            <img class="arrowLine" src="{{ asset('icons/ArrowLine.svg') }}">
        </div>
    </main>

    <aside class="pages">
        <div class="nav-tabs">
            <div class="nav-tab">
                <span class="text"> A propos </span>
            </div>
            <div class="nav-tab">
                <span class="text"> Réalisations </span>
            </div>
            <div class="nav-tab">
                <span class="text"> Contact </span>
            </div>
        </div>

            <div class="page" id="about"></div>
            <div class="page" id="achievements"></div>
            <div class="page" id="contact"></div>
    </aside>

{% endblock %}
