// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Body
$body-bg: rgb(0, 0, 0);
$font-color: #fff;
$second-font-color : rgb(199, 62, 62);
$font: 'Inconsolata', monospace;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
