// Variables
@import 'variables';
h1 {
    font-weight: bold;

}
.technology ul li  {
    color: $font-color;
}
.the-span{
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}
.inline li {
    font-size: 1.7em;
    display: inline;
    }
a {
    text-decoration: none;
    color: $second-font-color;
    font-size: 1.7em;
    font-weight: bolder;
    text-align: center;
}
.arrow-icon {
    filter: invert(100%);
    transform: rotate(180deg);
    width: 20px;
}
a:hover {
    color: $second-font-color;
}

.portfolio-img {
    margin: auto;
}
strong {
    color : $second-font-color;
    font-weight: bold;
}
