h1 {
    font-weight: bold;

}
.inline li {
    font-size: 1.7em;
    display: inline;
    }
a {
    text-decoration: none;
    color: rgb(209, 104, 104);
    font-size: 1.7em;
    font-weight: bolder;
    text-align: center;
}
