@import url(https://fonts.googleapis.com/css?family=Nunito);
.technology ul li {
  color: #fff;
}

.title {
  margin-top: 1.5em;
  text-decoration: underline;
  text-underline-position: under;
}

.inline li {
  display: inline;
  font-size: 1.3em;
}

.github-link {
  text-decoration: none;
  color: rgb(148, 54, 129);
  font-weight: bolder;
  text-align: center;
  font-size: 1.3em;
}

.arrow-icon {
  filter: invert(100%);
  transform: rotate(180deg);
  width: 20px;
}

a:hover {
  color: rgb(148, 54, 129);
}

.portfolio-img {
  margin: auto;
}

strong {
  color: rgb(148, 54, 129);
  font-weight: bold;
}
