@import url(https://fonts.googleapis.com/css?family=Nunito);
h1 {
  font-weight: bold;
}

.technology ul li {
  color: #fff;
}

.the-span {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

.inline li {
  font-size: 1.7em;
  display: inline;
}

a {
  text-decoration: none;
  color: rgb(148, 54, 129);
  font-size: 1.7em;
  font-weight: bolder;
  text-align: center;
}

.arrow-icon {
  filter: invert(100%);
  transform: rotate(180deg);
  width: 20px;
}

a:hover {
  color: rgb(148, 54, 129);
}

.portfolio-img {
  margin: auto;
}

strong {
  color: rgb(148, 54, 129);
  font-weight: bold;
}
