:root {
    --main-color: #561C24;
    --second-color: #6D2932;
    --clear-font-color: #E8D8C4;
    font-size: 16px;
}


*, *:before, *:after {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100vw;
    font-family: "Quicksand", sans-serif;
}

main, .presentation-cards {
    background-image: url("../images/Background.png");
    background-attachment: fixed;
    background-size: cover;
}
@media screen and (max-width: 768px) {
    main, .presentation-cards {
        background-image: url("../images/MobileBackground.png");
    }
}

main {
    height: 100vh;
    color: var(--main-color);
    position: relative;
    .homepage-title {
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translateX(-50%);
        text-align: center;
        @media screen and (max-width: 768px) {
            font-size: 2rem;
        }
        font-size: 3rem;
    }

    .arrow {
        position: absolute;
        left: 50%;
        top: 80%;
        transform: translate(-50%);
        &:hover {
            animation: jumpInfinite 1.5s infinite
        }
    }
    .arrowLine {
        position: absolute;
        left: 50%;
        top: 87%;
        transform: translateX(-50%);
    }
}

@keyframes jumpInfinite {
    0% {
        transform: translate(-50%, 0px);
        animation-timing-function:ease-in-out
    }

    50% {
        transform: translate(-50%, 12px);
        animation-timing-function:ease-in-out
    }

    100% {
        transform: translate(-50%, 0px);
        animation-timing-function:ease-in-out
    }
}

.presentation-cards {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5rem;
    .tab {
        height: 60px;
        width: 60px;
        background-color: var(--main-color);
        border-radius: 0 10% 10% 0;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 2rem;
            height: 2rem;
            padding-right: 7px;
        }
        span {
            display: none;
        }
        &:hover {
            width: 10em;
            transition: width 0.5s ease;
            background-color: var(--second-color);
            img {
                display: none;
            }
            .text {
                display: block;
                color: var(--clear-font-color);
                font-weight: bold;
                margin: 5px;
            }
        }
    }
}