:root {
    --main-color: #6D2932;
    font-size: 16px;
}


*, *:before, *:after {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100vw;
    background-image: url("../images/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Quicksand", sans-serif;
}

@media screen and (max-width: 768px) {
    body {
        background-image: url("../images/MobileBackground.png");
    }
}

main {
    height: 100vh;
    color: var(--main-color);
    position: relative;
    .homepage-title {
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translateX(-50%);
        text-align: center;
        @media screen and (max-width: 768px) {
            font-size: 2rem;
        }
        font-size: 3rem;
    }

    .arrow {
        position: absolute;
        left: 50%;
        top: 80%;
        transform: translateX(-50%);
        /*animation: jumpInfinite 1.5s infinite;*/
    }
    .arrowLine {
        position: absolute;
        left: 50%;
        top: 85%;
        transform: translateX(-50%);
    }

    /*@keyframes jumpInfinite {*/
    /*    0% {*/
    /*        margin-top: 0;*/
    /*    }*/
    /*    50% {*/
    /*        margin-top: 20px;*/
    /*    }*/
    /*    100% {*/
    /*        margin-top: 0;*/
    /*    }*/
    /*}*/
}

.presentation-cards {
    height: 100vh;
    width: 100vw;
}
